<form action="/articles" method="post">

      <label for="title">Title: for=""</label>
      <input id="title" type="text" name="title" />
      <br>
      <label for="content">Content: </label>
      <textarea id="content" type="text" name="content">
      </textarea>
      <br><br>
  <input type="submit" />
</form>
